/ManejoOperadares/build/
/EjemploIf/build/
/EjemploIf/nbproject/private/
/EjemplosIfElse/nbproject/private/
/EjemplosIfElse/build/
/EjemploIfElseIfElse/nbproject/private/
/EjemploIfElseIfElse/build/
/MundoPC/build/
/MundoPC/nbproject/private/
/CreacionClasesObjetos/nbproject/private/
/CreacionClasesObjetos/build/